<% if logged_in? %>
  <h1>Willkommen, <%= @current_user.firstname %></h1>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="contribution_form">
        <%= render 'shared/contribution_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Meine Beiträge</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Wilkommen beim Portal der Umweltdenker 2022</h1>
    <%= image_tag("logo_uwd.jpg", alt: "Logo Umweltdenker", width: "300") %>
    <h2>
      Die <strong>Umweltdenker</strong> sind ein Projekt der 
      <a href="http://ooe.pfadfinder.at/">Ober&ouml;sterreichischen Pfadfinderinnen und Pfadfinder</a>.
    </h2>
    <%= link_to "Anmelden (Login)", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Account anlegen", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <h1>Neue Beitrag eintragen</h1>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4" align="center">
        <%= link_to image_tag("category_#{category.title_en}.png", alt: "Logo Kategorie: #{category.title}", width: "100"), new_contribution_path(:category=> category) %>
        <br/>
        <%= link_to category.title, new_contribution_path(:category=> category) %>
        <br/><br/>
      </div>
    <% end %>
  </div>

  <br />

  <div class="row">
    <div class="col-md-6">
      <%= link_to image_tag("ppoe_logo.jpg", alt: "Logo O&Ouml; PfadfinderInnen", width: "200"), "http://ooe.pfadfinder.at/" %>
    </div>
    <div class="col-md-6">
    </div>
  </div>
<% end %>