<% provide(:title, "Anmelden") %>
<h1>Anmelden</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <%= f.label :email, "E-Mail" %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password, "Passwort" %>
      <%= link_to "(Passwort vergessen)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Auf diesem Computer angemeldet bleiben</span>
      <% end %>
      <%= f.submit "Anmelden", class: "btn btn-primary" %>
    <% end %>
    <p>Neu bei den Umweltdenkern? <%= link_to "Neuen Benutzer-Account anlegen!", signup_path %></p>
  </div>
</div>