<% provide(:title, 'Benutzeraccount anlegen') %>
<h1>Benutzeraccount anlegen</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :firstname, "Vorname / Spitzname" %>
      <%= f.text_field :firstname, class: 'form-control' %>

      <%= f.label :name, "Nachname (wird nicht veröffentlicht)" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :group, "Pfadfinder-Gruppe" %>
      <%= f.collection_select :group_id, Group.order(:name),:id,:name, prompt: "-- Wähle deine Pfadfindergruppe --", include_blank: false %>

      <%= f.label :email, "E-Mail-Adresse (wird nicht veröffentlicht)" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Passwort" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Passwort (bitte wiederholen)" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Benutzeraccount anlegen", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
