<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col_md_4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> 
      </h1> 
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.contributions.any? %>
      <h3>Contributions (<%= @user.contributions.count %>)</h3>
      <ol class="contributions">
        <%= render @contributions %>
      </ol>
      <%= will_paginate @contributions %>
    <% end %>
  </div>
</div>
 
<%= @user.email %>