<li id="contribution-<%= contribution.id %>">
  <%= image_tag("category_#{contribution.category.title_en}.png", alt: "Logo Kategorie", width: "40") %>
  <span class="user">
    <strong><%= link_to contribution.title, contribution %></strong>
    (<%= link_to contribution.user.firstname, contribution.user %>)
  </span>
  <span class="content">
    <%= contribution.content %>
    <%= image_tag contribution.image if contribution.image.attached? %>
  </span>
  <span class="timestamp">
    (<%= contribution.user.group.name %>)
    <% if logged_in_admin? %>
      <%= link_to "LÖSCHEN", contribution, method: :delete, data: { confirm: "Wirklich löschen?" } %>
      <%= link_to "BEARBEITEN", edit_contribution_path(:id => contribution.id) %>
    <% end %>
  </span>
</li>