<% provide(:title, 'Alle Beitr채ge') %>
<h1>
  Alle Beitr채ge
  <%= @category.title if @category %>
</h1>

<%= will_paginate %>

<% if @contributions.count > 0 %>
  <ul class="users">
    <%= render @contributions %>
  </ul>
<% elsif @category %>
  <p>Es sind noch keine Beitr채ge in der Kategorie <%= @category.title %> angelegt.</p>
<% else %>
  <p>Es sind noch keine Beitr채ge angelegt.</p>
<% end %>

<%= will_paginate %>