<div class="col-sm bg-challenge-<%= challenge.category.id %>">
  <h3><%= challenge.title %></h3>

  <%= image_tag("category_#{challenge.category.title_en}.png", alt: "Logo Kategorie: #{challenge.category.title}", width: "40") %>

  <strong>Kategorie</strong>: <%= challenge.category.try(:title) %><br />
  <strong>Beschreibung</strong>: <%= challenge.description.html_safe %><br /><br />
  <strong>Aufgabe</strong>: <%= challenge.submission.html_safe %><br />
  <br />

  <% if @completed_challenges && @completed_challenges.include?(challenge) %>
    <i>Du hast diese Challenge bereits abgeschlossen!</i>
    (<%= link_to "Nochmal eintragen", new_contribution_path(:challenge=> challenge) %>)
    <br />
  <% else %>
    <%= link_to "Ich habe #{challenge.title} abgeschlossen!", new_contribution_path(:challenge=> challenge) %>
  <% end %>

  <% if logged_in_admin? %>
    <%= link_to "BEARBEITEN", edit_challenge_path(:id => challenge.id) %>
  <% end %>
</div>